In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/summer-analytics-mid-hackathon/hacktest.csv
/kaggle/input/summer-analytics-mid-hackathon/hacktrain.csv

In [2]:
df=pd.read_csv("/kaggle/input/summer-analytics-mid-hackathon/hacktrain.csv")
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.88,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.95,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.00,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140

In [3]:
 ndvi_cols=[col for col in df.columns if '_N' in col]
df[ndvi_cols]=df[ndvi_cols].apply(pd.to_numeric,errors='coerce')
df[ndvi_cols]=df[ndvi_cols].where(df[ndvi_cols]>=0,np.nan)
df[ndvi_cols]=df[ndvi_cols].interpolate(axis=1,method='linear')
df[ndvi_cols]=df[ndvi_cols].fillna(df[ndvi_cols].mean())
df

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,water,637.5950,658.668000,771.746667,884.825333,997.904000,813.995500,630.087000,...,558.6120,461.454,364.296000,267.138000,248.534667,229.931333,211.3280,285.520667,359.713333,433.906
1,1,2,water,634.2400,593.705000,700.536000,807.367000,914.198000,810.912000,707.626000,...,529.9670,393.331,256.695000,120.059000,364.858000,476.972000,220.8780,321.943667,423.009333,524.075
2,3,4,water,58.0174,153.984914,249.952429,345.919943,441.887457,537.854971,633.822486,...,514.5110,368.622,347.288333,325.954667,304.621000,336.917500,369.2140,369.214000,369.214000,369.214
3,4,5,water,72.5180,226.477000,380.436000,448.120500,515.805000,571.621333,627.437667,...,419.0915,155.624,247.799333,339.974667,432.150000,282.833000,298.3200,298.320000,298.320000,298.320
4,7,8,water,1136.4400,1306.903333,1477.366667,1647.830000,1935.800000,2047.390000,2158.980000,...,1535.0000,1959.430,1724.752500,1490.075000,1255.397500,1020.720000,1660.6500,1660.650000,1660.650000,1660.650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10537,10538,impervious,1207.7000,984.620000,1075.435000,1166.250000,937.478000,1072.700000,823.896000,...,1117.7400,1176.600,1044.110000,706.596000,369.082000,465.843000,362.8820,979.795000,706.727000,433.659
7996,10538,10539,impervious,2170.3500,1419.720000,1361.000000,1478.710000,983.911000,1262.110000,1422.860000,...,984.6340,2128.970,1379.660000,1071.146500,762.633000,485.204000,446.7240,771.747000,1589.060000,506.936
7997,10541,10542,impervious,1895.6800,1454.740000,1244.150000,1033.560000,1930.380000,1057.150000,1471.600000,...,888.4080,2093.020,1232.110000,1190.830000,1441.460000,1170.880000,1095.0000,1818.650000,2501.720000,1247.770
7998,10542,10543,impervious,3465.7400,1283.320000,413.412000,4391.050000,1146.820000,4473.050000,1614.750000,...,5833.7600,4047.320,4515.800000,433.177000,277.296000,744.143000,2251.9265,3759.710000,2074.028000,388.346
7999,10544,10545,impervious,6941.1900,1667.870000,5084.780000,3336.865000,1588.950000,5978.190000,4523.110000,...,7352.5700,3289.860,3729.150000,1994.980000,3647.440000,5299.900000,5641.5150,5983.130000,1249.710000,2424.230

In [4]:
df.isnull().sum()

Unnamed: 0    0
ID            0
class         0
20150720_N    0
20150602_N    0
20150517_N    0
20150501_N    0
20150415_N    0
20150330_N    0
20150314_N    0
20150226_N    0
20150210_N    0
20150125_N    0
20150109_N    0
20141117_N    0
20141101_N    0
20141016_N    0
20140930_N    0
20140813_N    0
20140626_N    0
20140610_N    0
20140525_N    0
20140509_N    0
20140423_N    0
20140407_N    0
20140322_N    0
20140218_N    0
20140202_N    0
20140117_N    0
20140101_N    0
dtype: int64

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report


df.drop(columns=['ID'],inplace=True)
label_encoder=LabelEncoder()
df['class']=label_encoder.fit_transform(df['class'])

X=df.drop(columns=['class'])
y=df['class']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42,stratify=y)

model=LogisticRegression(
    multi_class='multinomial',
    solver='lbfgs',
    max_iter=500,
    class_weight='balanced'
)

model.fit(X_train,y_train)

y_pred = model.predict(X_test)

print(classification_report(
    y_test,
    y_pred,
    labels=list(range(len(label_encoder.classes_))),
    target_names=label_encoder.classes_
))

              precision    recall  f1-score   support

        farm       0.75      0.62      0.68       168
      forest       0.99      0.85      0.91      1232
       grass       0.42      0.79      0.55        39
  impervious       0.79      0.79      0.79       134
     orchard       0.04      0.50      0.07         6
       water       0.14      0.86      0.24        21

    accuracy                           0.81      1600
   macro avg       0.52      0.73      0.54      1600
weighted avg       0.92      0.81      0.86      1600

In [6]:
test_data=pd.read_csv("/kaggle/input/summer-analytics-mid-hackathon/hacktest.csv")
test_data.shape

(2845, 29)

In [7]:
ID = test_data['ID']
test_data.drop(['ID'],axis=1,inplace=True)

In [8]:
y_test = model.predict(test_data)
y_test

array([1, 1, 1, ..., 3, 3, 3])

In [9]:
y_decoded = label_encoder.inverse_transform(y_test)
y_decoded

array(['forest', 'forest', 'forest', ..., 'impervious', 'impervious',
       'impervious'], dtype=object)

In [10]:
result = pd.DataFrame({
    'ID': ID,
    'class':y_decoded
})
result
# result.to_csv("submission.csv",index=False)

        ID       class
0        1      forest
1        2      forest
2        3      forest
3        4      forest
4        5      forest
...    ...         ...
2840  2841  impervious
2841  2842  impervious
2842  2843  impervious
2843  2844  impervious
2844  2845  impervious

[2845 rows x 2 columns]

In [11]:
result.to_csv("submission.csv",index=False)